.forget {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.forgetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    height: 65vh;
    margin-bottom: 3rem;
    /* background-color: rgb(255, 255, 255); */
    background-color: #eee;
    border-radius: 25px;
}

.forgetContainer h1 {
    color: #9E1AA8;
}

.forget-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.forget-container input {
    height: 1.5em;
    width: 25em;
    border-radius: 15px;
    border-width: 15px;
    border: white;
    box-shadow: 0 0 6px rgb(166, 159, 255);
    outline: none;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    .forgetContainer {
        height: 50vh;
    }

    .forgetContainer h1 {
        margin-top: 3rem;    
    }
}

@media screen and (max-width: 650px) {
    .forgetContainer {
        width: 25em;
    }
    .forget-container{
        margin: 0;
    }
    .forget-container input {
        width: 16.5em;
    }
}

input:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 16px rgb(125, 115, 255);
    outline: 0 none;
}

.resetBut {
    height: 4em;
    width: 20em;
    margin: 10px;
    margin-top: 25px;
    border-radius: 15px;
    /* background: linear-gradient(rgb(124, 114, 255), rgb(255, 116, 116)); */
    background: #9E1AA8;
    border: none;
    transition: all .2s ease-in-out;
}

.resetBut:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgb(199, 199, 199);
}

.resetBut p {
    color: white;
    font-size: 20px;
    margin-top: 13px;
}

.forget-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}