.register {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height: 85vh;
    margin-bottom: 3rem;
    /* background-color: rgb(255, 255, 255); */
    background-color: #eee;
    border-radius: 25px;
}

.registerContainer h1 {
    color: #9E1AA8;
}

.registerContainer p {
    margin-top: 0;
}

.register-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.register-container input {
    height: 1.5em;
    width: 15em;
    border-radius: 15px;
    border-width: 15px;
    border: white;
    box-shadow: 0 0 6px rgb(166, 159, 255);
    outline: none;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .registerContainer {
        height: 60vh;
    }

    .registerContainer h1 {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 650px) {
    .registerContainer {
        height: 70vh;
    }

    .registerContainer h1 {
        margin-top: 3rem;
    }
}

input:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 16px rgb(125, 115, 255);
    outline: 0 none;
}

.registerBut {
    height: 4em;
    width: 24em;
    margin: 10px;
    margin-top: 25px;
    border-radius: 15px;
    /* background: linear-gradient(rgb(124, 114, 255), rgb(255, 116, 116)); */
    background: #9E1AA8;
    border: none;
    transition: all .2s ease-in-out;
}

.registerBut:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgb(199, 199, 199);
}

.registerBut p {
    color: white;
    font-size: 20px;
    margin-top: 13px;
}

.reg-siG {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: 4em;
    width: 24em;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(152, 145, 255);
    border-width: 3px;
    border-style: dashed;
    transition: all .2s ease-in-out;
}

.reg-siG:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgb(199, 199, 199);
    cursor: pointer;
}

.reg-siG p {
    font-size: 20px;
}

.register-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}