.video {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video_content {
  margin: 0 7rem;
}

.video_head {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #9e1aa8;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.video_vid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}

.video_para {
  color: black;
  text-align: center;
}

.video_container {
  margin-left: 2rem;
}
