.Faq {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq_content {
  margin: 0 7rem;
}

.faq_head {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #9e1aa8;
  text-transform: uppercase;
  font-size: 2rem;
}

.faq_heading p {
  color: black;
  text-align: center;
}

.faq_questions {
  margin-bottom: 2rem;
}

.item {
  background: #eee;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: grey;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content_show {
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
