.footer {
    width: 100%;
    background-color: #eee;
    text-align: center;
}

.footer_copyright {
    font-family: Roboto;
}

.footer_social svg {
    color: #9E1AA8;
    margin: 0.5rem;
    font-size: 25px;
    cursor: pointer;
}