.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  background-color: #eeeeee;
}

.footer_copyright {
  font-family: Roboto;
}

.footer_social svg {
  color: #9e1aa8;
  margin: 0.5rem;
  font-size: 25px;
  cursor: pointer;
}
